# Database Configuration
POSTGRES_USER=quiply_user
POSTGRES_PASSWORD=password
POSTGRES_DB=quiply_db

# Flask Configuration
SECRET_KEY=CHANGE_THIS_TO_RANDOM_SECRET_KEY
JWT_SECRET_KEY=CHANGE_THIS_TO_RANDOM_JWT_SECRET

# Domain Configuration
DOMAIN=api.quiply.yan-toples.ru
EMAIL=just@example.com
